<div class="card bg-light" *ngIf="listadoCitas.length == 0">
  <div class="card-body">
    <h5 class="card-title text-center">No hay citas para mostrar</h5>
  </div>
</div>
<div class="card mb-2" *ngFor="let cita of listadoCitas; let i = index">
  <div class="card-body">
    <p class="card-text"><span>Nombre:</span> {{ cita.nombre }}</p>
    <p><span>Fecha:</span> {{ cita.fecha }}</p>
    <p><span>Hora:</span> {{ cita.hora }}</p>
    <p><span> Sintomas:</span> {{ cita.sintomas }}</p>
    <button
      class="btn btn-danger btn-block"
      style="width: 100%"
      (click)="eliminarCita(i)"
    >
      ELIMINAR
    </button>
  </div>
</div>
