<div class="card bg-light">
  <div class="card-body">
    <h5 class="card-title text-center">Agregar Cita</h5>
    <div *ngIf="formularioIncorrecto" class="text-center">
      <span class="badge bg-danger">TODOS LOS CAMPOS SON OBLIGATORIOS</span>
    </div>

    <div class="form-group mb-3">
      <label for="nombre">Nombre</label>
      <input
        type="text"
        id="nombre"
        class="form-control"
        [(ngModel)]="nombre"
        placeholder="Ingrese su nombre"
      />
    </div>
    <div class="form-group mb-3">
      <label for="Fecha">Fecha</label>
      <input type="date" id="Fecha" class="form-control" [(ngModel)]="fecha" />
    </div>
    <div class="form-group mb-3">
      <label for="horaa">Hora</label>
      <input type="time" id="horaa" class="form-control" [(ngModel)]="hora" />
    </div>
    <div class="form-group mb-3">
      <label for="sintomas">Sintomas</label>
      <textarea
        id="sintomas"
        row="3"
        [(ngModel)]="sintomas"
        class="form-control"
        placeholder="Ingrese los Sintomas"
      ></textarea>
    </div>
    <button
      style="width: 100%"
      class="btn btn-primary btn-block"
      (click)="agregarCita()"
    >
      Agregar Cita
    </button>
  </div>
</div>
